:host {
    display: block;
    margin-top: 1rem;
}

.info-text{
    text-align: center;
}

mat-card {
    margin-top: 1rem;
}

.main {
    width: 80%;
    margin: 2rem auto;
}

.space {
    flex: 1 1 auto;
}

a{
    color: white;
    text-decoration: none;
}