<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> <a [routerLink]="['/users']">User</a></span>
    <span class="space"></span>
    <span>
      <button mat-flat-button color="primary" [routerLink]="['/login']">Logout</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<section class="reservedBook" *ngIf="books.length > 0">
    <div *ngFor="let book of books">
      <div *ngFor="let user of users">
        <div *ngIf="book.id == user.bookid && username == user.username">
          <div *ngIf="book.reserved">
            <mat-card>
            <h2> {{book.title}}</h2>
            <p>{{book.author}}</p>
          </mat-card>
          </div>
        </div>
      </div>
    </div>
   </section>
