.book-add {
        margin: 2rem auto;  
    }

mat-form-field {
    width: 80%;
}

form {
    width: 600px;
    height: 400px;
    
}

button {
    margin: 2rem;
}

.space {
    flex: 1 1 auto;
}

a { 
    color: white;
    text-decoration: none;
}