:host {
    display: block;
    margin-top: 1rem;
}

.info-text { 
    text-align: center;
}

mat-card {
    margin-top: 1rem;
}

.search {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
}

