  <mat-card>
    <mat-form-field class="search">
      <mat-label>search book</mat-label>
      <input matInput placeholder="title" [(ngModel)]="filterSearch">
    </mat-form-field>
  </mat-card>

<section *ngIf="books.length > 0">
    <mat-card *ngFor="let book of books | bookFilter: filterSearch">
      <h2> {{book.title}}</h2>
      <p>{{book.author}}</p>
      <div *ngIf="book.reserved; else reservebtn">
        <button mat-raised-button (click)="onReserved(book)">Reserved</button>
      </div>
      <ng-template #reservebtn>
        <button mat-raised-button color="accent" (click)="onReserved(book)">reserve</button>
      </ng-template> 
    </mat-card>
   </section>
   <p class="info-text mat-body-1" *ngIf="books.length <= 0">Not single book yet</p>
   