  <mat-card>
  <mat-form-field class="search" appearance="outline">
    <mat-label>Search book</mat-label>
    <input matInput placeholder="title" [(ngModel)]="filterSearch">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  </mat-card>

<section *ngIf="books.length > 0">
    <mat-card *ngFor="let book of books | bookFilter: filterSearch">
      <h2> {{book.title}}</h2>
      <p>{{book.author}}</p>
      <div *ngIf="book.reserved; else reservebtn">
        <mat-button-toggle (click)="onReserved(book)" #togVal>{{ togVal.checked ? 'Reserved' : 'Reserve' }}</mat-button-toggle>
      </div>
      <ng-template #reservebtn>
        <mat-button-toggle (click)="onReserved(book)" #togVal>{{ togVal.checked ? 'Reserve' : 'Reserved' }}</mat-button-toggle>
      </ng-template> 
    </mat-card>
   </section>
   <p class="info-text mat-body-1" *ngIf="books.length <= 0">Not single book yet</p>

   